* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cannia;
}

.container {
  background: #dfdfdf;
  .grid {
    display: grid;
    grid-template-columns: 50% auto;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
  .text {
    display: grid;
    place-items: center;
    width: 50%;
    height: 100vh;
    padding: 20px;
    h1 {
      font-size: 8em;
    }
  }
  .section {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
    .span {
      display: inline-block;
      span {
        display: inline-block;
        font-size: 21em;
      }
    }
  }
  .pargrph {
    margin: 20vh 0px;
    text-align: center;

    p {
      font-size: 7em;
      font-weight: bolder;
    }
  }

  .sticky {
    height: 100%;
    display: grid;
    grid-template-columns: 40% auto;
    h1 {
      font-size: 25em;
      line-height: 20%;
    }
    p {
      font-size: 10em;
      margin-top: 30vh;
    }
    .img {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 8px;
      gap: 8px;
      margin-top: 16px;

      img {
        width: 100%;
        max-height: 75vh;
        height: 100%;
        align-self: stretch;
        object-fit: cover;
      }
    }
  }

  .footer {
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    text-align: center;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .ftext {
      height: 100vh;
      width: 100%;
      display: grid;
      align-content: center;
      h1 {
        margin: 10vh 0vh;
        font-size: 7em;
      }
      p {
        font-size: 4em;
      }
    }
  }
}
